:root {
    --error: #e7195a;
    --primary: white;
    --secondary: #ccc;
    --btn-color: #3498db;
} 

html {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: large;
    height: 5%;
}

.container-fluid {
    height: 85%;
    background-color: var(--primary);
}

.custom-row {
    height: 100%;
}

.col-sm-3 {
    background-color: var(--primary);
    padding:0.5%;
    box-sizing: border-box;
    max-height: 100%;
}

.left-col {
    display: flex;
    flex-direction: column;
} 

.mid-col {
    display: flex;
    flex-direction: column;
    background-color: green;
}

/* .left-div, .center-div, .right-div {
    padding:20px;
    box-sizing: border-box;
} */

/* .left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: white;
    height: 100%;
    width: 20%;
} */

/* .center-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    background-color: gray;
    height:100%;
} */

/* .right-div {
    flex:1;
    background-color: blue;
    height:100%;
    width:20%;
} */
/* 
#text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
} */

/* LEFT COLUMN */
#process-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    min-height: 70%;
    max-height: 70%;
}

#process-table {
    background-color: var(--secondary);
    min-height: 50%;
    max-height: 100%;
    overflow-y: auto;
    border-collapse: collapse;
}

#process-table th, #process-table td {
    border: 1px solid gray;
    width: 33%;
    text-align: left;
}

#process-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    font-size: 14px;
}

#process-table tr {
    height: 43px;
}

#process-id, #arrival-time, #burst-time {
    border-radius: 50px;
    border: 3px solid var(--btn-color);
} 

#process-id:disabled, #arrival-time:disabled, #burst-time:disabled {
    border: 3px solid var(--secondary);
}


#input {
    border: 1px solid var(--primary);
    border-radius: 1%;
    display: flex;
    justify-content: space-around;
    transition: border-color 0.3s;
    height: 10%;
}


/* QUEUES & SUMMARY */
/* #queues {
    display:flex;
    flex-direction: column;
    width: 75%;
    font-size: large;
    font-weight: bold;
} */

/* #waiting-queue {
    position: relative;
    background-color: #ff0000;
    max-height: 60px;
} */

/* #finished-queue {
    position: relative;
    background-color: #0000ff;
    max-height: 60px;
} */

/* #waiting-queue, #finished-queue {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 82%;
    overflow:auto;
    margin-left: 5%;
} */

/* #time-algorithm-div {
    display: flex;
    flex-direction: row;
    font-size: medium;
    margin-left: 5%;
} */

/* #time {
    position: fixed;
    margin-left: 350px;
} */
/* 
#progress-div {
    position: relative;
    right: -15px;
    bottom: 5px;
    width: 87%;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
} */

/* #progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
} */

/* #progress-percent {
    position: absolute;
            top: 50%;
            left: 50%;
            font-size: medium;
            transform: translate(-50%, -50%);
            color: black;
} */

/* #control {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: large;
    font-weight: bold;
    background-color: blue;
} */


/* #cpu, #status {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    border-radius: 15px;
} */

/* #cpu {
    background-color: #ffa500;
    height: 30%;
    margin-right: 40%;
    align-items: center;
} */

/* #status {
    background-color: gray;
    height: 45%;
    margin-right: 10%;
} */

/* #working-on {
    text-align: center;
    margin-top: 35%;
} */

/* #simulation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    height: 50%;
    
} */

/* #summary-table {
    background-color: var(--secondary);
    min-height: 50%;
    max-height: 50%;
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
} */

/* #summary-table th, #summary-table td {
    border: 1px solid gray;
    width: 16%;
    text-align: left;
} */
/* 
#summary-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    font-size: 14px;
} */

/* #summary-table tr {
    height: 41px;
} */

/* #summary-log {
    background-color: purple;
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    overflow: auto;
    padding-left: 2%;
} */



#algo-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 1%;
    min-height: 30%;
    max-height: 30%;
}

#algo-text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:large;
}

#quantum {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}

#quantum.show {
    visibility: visible;
}

#quantum-input {
    border-radius: 5px;
    font-style: italic;
    border: 2px solid black;
}

/* ERRORS */
#process-id.error, #arrival-time.error, #burst-time.error {
    border: 3px solid var(--error);
}

#quantum-input.error {
    border-radius: 5px;
    border: 2px solid var(--error);
}

#error-message, #error-message-2, #error-message-3 {
    visibility: hidden;
    position:relative;
    background: #ffefef;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    line-height: 25%;
    white-space: nowrap;
    border: 3px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    padding: 4% 0% 0% 0%;
}

#error-message{
    top: 3%;
}

#error-message-2 {
    top: -14%;
}

#error-message-3 {
    top: -26.5%;
}

#error-message.show, #error-message-2.show, #error-message-3.show {
    visibility: visible;
} 


/* BUTTONS */
button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--btn-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #236c9c;
}

button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#add-button {
    height: 100%;
    width: 30%;
    font-size: 100%;
    /* padding: 0.5% 0% 0.5% 0%; */
    margin-top: 1.5%;
    overflow: hidden;
}

#gen-button {
    font-size: medium;
    margin-top: 3%;
    white-space: nowrap;
}

#algo-buttons {
    display: flex;
    justify-content: space-evenly;
    transition: border-color 0.3s;
    height: 20%;
    margin-top: 5%;
}

#start-button, #pause-button, #resume-button, #reset-button {
    height: 100%;
    width: 25%;
    overflow: hidden;
}

#start-button:disabled, #pause-button:disabled, #resume-button:disabled, #reset-button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#start-button {
    background-color: green;
    margin-left: 5%;
}

#start-button:hover {
    background-color: darkgreen;
}

#pause-button {
    visibility: hidden;
    background-color: orange;
    position:relative;
    right: -52%;
}

#pause-button:hover {
    background-color: rgb(180, 100, 3);
}

#resume-button {
    visibility: hidden;
    position:relative;
    right: -76%;
}

#reset-button {
    background-color: red;
    position: relative;
}

#reset-button:hover {
    background-color: darkred;
}

select {
    /* position: relative; */
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    margin-top: 0%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
}

select:disabled {
    cursor: default;
}

/* .process-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
} */
