:root {
    --error: #e7195a;
    --primary: white;
    --secondary: #ccc;
    --btn-color: #3498db;
} 

html {
    margin: 0;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    height: 100%;
    font-size: 2cqh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 5%;
}

.container-fluid {
    height: 85%;
    background-color: var(--primary);
}

.custom-row {
    height: 100%;
}

.col-sm-3 {
    background-color: var(--primary);
    padding:1%;
    box-sizing: border-box;
    max-height: 100%;
}

.col-sm-6 {
    background-color: var(--primary);
    padding:0.5%;
    box-sizing: border-box;
    max-height: 100%;
}

.left-col {
    display: flex;
    flex-direction: column;
} 

.mid-col {
    display: flex;
    flex-direction: column;
}

.right-col {
    display: flex;
    flex-direction: column;
}

/* .left-div, .center-div, .right-div {
    padding:20px;
    box-sizing: border-box;
} */

/* .left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: white;
    height: 100%;
    width: 20%;
} */

/* .center-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    background-color: gray;
    height:100%;
} */

/* .right-div {
    flex:1;
    background-color: blue;
    height:100%;
    width:20%;
} */
/* 
#text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
} */

/* LEFT COLUMN */
#process-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    min-height: 70%;
    max-height: 70%;
    position: relative;
}

#process-table {
    background-color: var(--secondary);
    min-height: 50%;
    max-height: 50%;
    overflow-y: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

#process-table th, #process-table td {
    border: 1px solid gray;
    text-align: center;
}

#process-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    width: 200px;
}

#process-table tr {
    height: 80%;
}

#process-id, #arrival-time, #burst-time {
    border-radius: 50px;
    border: 3px solid var(--btn-color);
    max-height: 65%;
} 

#process-id:disabled, #arrival-time:disabled, #burst-time:disabled {
    border: 3px solid var(--secondary);
}


#input {
    border: 1px solid var(--primary);
    border-radius: 1%;
    display: flex;
    justify-content: space-around;
    transition: border-color 0.3s;
    height: 10%;
}


/* QUEUES & SUMMARY */
#queues {
    display:flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

#waiting-queue {
    position: relative;
    background-color: #006400;
}

#finished-queue {
    position: relative;
    background-color: #004BA8;
}

#waiting-queue, #finished-queue {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 85%;
    overflow:auto;
    margin-left: 5%;
    border: solid .3cqh black;
    border-radius: 4px;
}

#time-algorithm-div {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
}

#time {
    position: fixed;
    margin-left: 28%;
}

#progress {
    position: relative;
    width: 85%;
    height: 6%;
    margin-left: 5%;
    background-color: var(--primary);
    border-radius: 10px;
    border: solid .3cqh black;
    overflow: hidden;
}

#progress-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
}

.progress-section {
    position: absolute;
    height: 100%;
    background-color: #3498db;
    transition: width 0.5s ease-in-out;
}

#control {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-weight: bold;
    background-color: #a2aebb;
    border-radius: 15px;
}


#cpu, #status {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    border-radius: 15px;
}

#cpu {
    background-color: #ffa500;
    height: 30%;
    margin-right: 40%;
    align-items: center;
    border: solid .3cqh black;

    .process-element {
        height: 50%;
        width: 60%;
    }
}

#status {
    background-color: gray;
    height: 45%;
    margin-right: 10%;
    border: solid .3cqh black;
}

#working-on {
    text-align: center;
    margin-top: 35%;
}

#simulation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #a2aebb;
    color: black;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 1%;
    border: solid .3cqh black;
}

#summary-table {
    background-color: var(--secondary);
    /* /* min-height: 47.2%; */
    max-height: 46.5%;
    margin: 0% 1% 0% 1%;
    overflow-y: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

#summary-table th, #summary-table td {
    border: 1px solid gray;
    text-align: center;
}

#summary-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    width: 14%;
}

#summary-table tr {
    /* height: 41px; */
    height: 20px;
}

#summary-label {
    font-size: 2.5cqh;
    font-weight: bold;
    color: black;
}

#summary-log {
    /* background-color: #4A525A; */
    background-color: var(--secondary);
    height: 100%;
    width: 90%;
    margin-bottom: 1%;
    margin-left: 5%;
    overflow: auto;
    padding-left: 2%;
    font-size: 2cqh;
    border-radius: 5px;
}

#algo-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 1%;
    min-height: 30%;
    max-height: 30%;
}

#algo-text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#quantum {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#quantum.show {
    visibility: visible;
}

#quantum-input {
    border-radius: 5px;
    font-style: italic;
    border: 2px solid black;
}

/* ERRORS */
#process-id.error, #arrival-time.error, #burst-time.error {
    border: 3px solid var(--error);
}

#quantum-input.error {
    border-radius: 5px;
    border: 2px solid var(--error);
}

#error-message {
    visibility: hidden;
    /* position:relative; */
    background: #ffefef;
    text-align: center;
    font-weight: bold;
    line-height: 80%;
    white-space: nowrap;
    border: 3px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    padding: 4% 0% 0% 0%;
    height: fit-content;
    margin-top: 3%;
}

/* BUTTONS */
button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--btn-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #236c9c;
}

button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#add-button {
    max-height: 70%;
    width: 30%;
    /* padding: 0.5% 0% 0.5% 0%; */
    margin-top: 3.5%;
    overflow: hidden;
}

#gen-button {
    margin-top: 3%;
    white-space: nowrap;
    height: 8%;
}

#algo-buttons {
    display: flex;
    justify-content: space-evenly;
    transition: border-color 0.3s;
    height: 20%;
    margin-top: 5%;
}

#start-button, #pause-button, #resume-button, #reset-button {
    height: 100%;
    width: 25%;
    overflow: hidden;
}

#start-button:disabled, #pause-button:disabled, #resume-button:disabled, #reset-button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#start-button {
    background-color: green;
    margin-left: 5%;
}

#start-button:hover {
    background-color: darkgreen;
}

#pause-button {
    visibility: hidden;
    background-color: ffa500;
    position:relative;
    right: -52.5%;
}

#pause-button:hover {
    background-color: rgb(180, 100, 3);
}

#resume-button {
    visibility: hidden;
    position:relative;
    right: -76.25%;
}

#reset-button {
    background-color: red;
    position: relative;
}

#reset-button:hover {
    background-color: darkred;
}

select {
    /* position: relative; */
    /* display: inline-block; */
    width: 100%;
    height: 120%;
    margin-top: 0%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
}

select:disabled {
    cursor: default;
}

.process-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 80%;
    margin: 1%;
    border-radius: 50%;
    border: .3cqh solid black;
}
