body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: green;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

.left-div, .center-div, .right-div {
    padding:20px;
    box-sizing: border-box;
}

.left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: white;
    height: 100%;
}

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    background-color: gray;
    height:100%;
}

.right-div {
    flex:1;
    background-color: blue;
    height:100%
}

#text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#process-table {
    background-color: purple;
    height: 50%;
    width:100%;
    overflow-y: auto;
}

#process-table th, #process-table td {
    border: 1px solid green;
    padding: 8px;
    text-align: left;
}

#queues {
    display:flex;
    flex-direction: column;
    width: 75%;
}

#waiting-queue {
    background-color: #ff0000;
}

#finished-queue {
    background-color: #0000ff;
}

#waiting-queue, #finished-queue {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 85%;
    overflow:auto;
    margin-left: 5%;
}


#control {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 2%;
}

#cpu {
    display: flex;
    justify-content: center;
    background-color: #ffa500;
    height: 30%;
    margin-left: 10%;
    margin-right: 40%;
}

#status {
    background-color: red;
    height: 45%;
    margin-left:10%;
}

#simulation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    height: 50%;
    
}

#summary-table {
    background-color: purple;
    height: 50%;
    width: 100%;
    margin-top: 1%;
}

#summary-table th, #summary-table td {
    border: 1px solid green;
    padding: 8px;
    text-align: left;
}

#summary-log {
    background-color: purple;
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    overflow: auto;
    padding-left: 2%;
}

#input {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 100px;
    transition: border-color 0.3s;
}

#algo-div {
    display:flex;
    background-color: purple;
    margin: 8px;
    padding: 8px;
    height: 25%;
    align-items: center;
}

#process-id, #arrival-time, #burst-time {
    border-radius: 50px;
    border-color:green;
}

#process-id.error, #arrival-time.error, #burst-time.error {
    border-color: red;
    border-radius: 100px;
}

/*  */
#error-message, #id-error, #value-error {
    visibility: hidden;
}



/*  */
.process-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
}
