@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap');

:root {
    --error: #e7195a;
    --primary: white;
    --secondary: #ccc;
    --btn-color: #3498db;
}

html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Tektur', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    height: 100%;
    font-size: 2cqh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 5%;
}

.container-fluid {
    height: 85%;
    background-color: var(--primary);
}

.custom-row {
    height: 100%;
}

.col-sm-3 {
    background-color: var(--primary);
    padding: 1%;
    box-sizing: border-box;
    max-height: 100%;
}

.col-sm-6 {
    background-color: var(--primary);
    padding: 0.5%;
    box-sizing: border-box;
    max-height: 100%;
}

.left-col,
.mid-col,
.right-col {
    display: flex;
    flex-direction: column;
}


/* --------------------------------------------------
   Left Column
-------------------------------------------------- */

#process-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    min-height: 70%;
    max-height: 70%;
    position: relative;
    overflow: hidden;
}

#process-table {
    background-color: var(--secondary);
    min-height: 50%;
    max-height: 50%;
    overflow-y: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

#process-table th,
#process-table td {
    border: 1px solid gray;
    text-align: center;
}

#process-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    width: 2000px;
}

#process-table th:first-child {
    padding: 0 9% 0 0;
}

#process-table tr {
    height: 80%;
}

#input {
    border: 1px solid var(--primary);
    border-radius: 1%;
    display: flex;
    justify-content: space-around;
    transition: border-color 0.3s;
    height: 10%;
}

#process-id,
#arrival-time,
#burst-time {
    width: 25%;
    padding: 1%;
    margin: 4% 1% 0 0;
    font-size: 1.4cqh;
    font-style: italic;
    font-weight: bold;
    border-radius: 50px;
    border: 3px solid var(--btn-color);
    max-height: 65%;
}

#process-id:disabled,
#arrival-time:disabled,
#burst-time:disabled {
    border: 3px solid var(--secondary);
}

#algo-div {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 1%;
    min-height: 30%;
    max-height: 30%;
    overflow: hidden;
}

#algo-text {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#quantum {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30%;
    align-items: center;
    font-weight: bold;
}

#quantum.show {
    visibility: visible;
}

#quantum-input {
    width: 25%;
    padding: 1%;
    margin: 3% 1% 3% 3%;
    font-size: 1.6cqh;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
}


/* --------------------------------------------------
   Simulation
-------------------------------------------------- */

#simulation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #a2aebb;
    color: black;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 1%;
    border: solid 0.3cqh black;
}

#queues {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

#waiting-label,
#finished-label,
#cpu-label,
#status-label {
    margin: 1% 0 1% 2%;
}

#waiting-queue,
#finished-queue {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 85%;
    overflow: auto;
    margin-left: 5%;
    border: solid 0.3cqh black;
    border-radius: 4px;
}

#waiting-queue {
    background-color: #006400;
}

#finished-queue {
    background-color: #004ba8;
}

#time-algorithm-div {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
}

#time {
    position: fixed;
    margin-left: 28%;
}

#progress {
    position: relative;
    width: 85%;
    height: 6%;
    margin-left: 5%;
    background-color: var(--primary);
    border-radius: 10px;
    border: solid 0.3cqh black;
    overflow: hidden;
}

#progress-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
}

.progress-section {
    position: absolute;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

#control {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-weight: bold;
    background-color: #a2aebb;
    border-radius: 15px;
}

#cpu,
#status {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    border-radius: 15px;
}

#cpu {
    background-color: #ffba49;
    height: 30%;
    margin-right: 40%;
    align-items: center;
    border: solid 0.3cqh black;
}

#cpu .process-element {
    height: 50%;
    width: 60%;
}

#status {
    background-color: gray;
    height: 45%;
    margin-right: 10%;
    border: solid 0.3cqh black;
}

#working-on {
    text-align: center;
    margin-top: 35%;
}


/* --------------------------------------------------
   Summary
-------------------------------------------------- */

#summary-table {
    background-color: var(--secondary);
    max-height: 41.2%;
    margin: 0 1%;
    overflow-y: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

#summary-table th,
#summary-table td {
    border: 1px solid gray;
    text-align: center;
}

#summary-table th {
    position: sticky;
    top: 0;
    background-color: darkgray;
    width: 2000px;
}

#summary-table th:first-child {
    padding: 0 4% 0 0;
}

#summary-table th:nth-child(4),
#summary-table th:nth-child(5),
#summary-table th:nth-child(6) {
    padding: 0 2% 0 0;
}

#summary-table tr {
    height: 20px;
}

#info {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2cqh;
    visibility: hidden;
}

#summary-label {
    font-size: 2.5cqh;
    font-weight: bold;
    color: black;
}

#summary-log {
    background-color: #a4a9ad;
    height: 100%;
    width: 90%;
    margin-bottom: 1%;
    margin-left: 5%;
    overflow: auto;
    padding-left: 2%;
    font-size: 2.1cqh;
    border-radius: 5px;
}


/* --------------------------------------------------
   Errors
-------------------------------------------------- */

#process-id.error,
#arrival-time.error,
#burst-time.error {
    border: 3px solid var(--error);
}

#quantum-input.error {
    border: 2px solid var(--error);
}

#error-message {
    visibility: hidden;
    background: #ffefef;
    text-align: center;
    font-weight: bold;
    line-height: 80%;
    white-space: nowrap;
    border: 3px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    padding: 4% 0 0;
    height: fit-content;
    margin-top: 3%;
}


/* --------------------------------------------------
   Buttons
-------------------------------------------------- */

button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--btn-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #236c9c;
}

button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#add-button {
    max-height: 70%;
    width: 25%;
    margin-top: 3.5%;
    overflow: hidden;
}

#gen-button {
    margin-top: 3%;
    white-space: nowrap;
    height: 8%;
}

#algo-buttons {
    display: flex;
    justify-content: space-evenly;
    transition: border-color 0.3s;
    height: 20%;
    margin-top: 5%;
}

#start-button,
#pause-button,
#resume-button,
#reset-button {
    height: 100%;
    width: 25%;
    overflow: hidden;
}

#start-button:disabled,
#pause-button:disabled,
#resume-button:disabled,
#reset-button:disabled {
    background-color: var(--secondary);
    cursor: default;
}

#start-button {
    background-color: green;
    margin-left: 5%;
}

#start-button:hover {
    background-color: darkgreen;
}

#pause-button {
    visibility: hidden;
    background-color: #ffa500;
    position: relative;
    right: -52.5%;
}

#pause-button:hover {
    background-color: rgb(180, 100, 3);
}

#resume-button {
    visibility: hidden;
    position: relative;
    right: -76.25%;
}

#reset-button {
    background-color: red;
    position: relative;
}

#reset-button:hover {
    background-color: darkred;
}


/* --------------------------------------------------
   Select
-------------------------------------------------- */

select {
    width: 100%;
    height: 120%;
    margin-top: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--secondary);
    cursor: pointer;
}

select:disabled {
    cursor: default;
}


/* --------------------------------------------------
   Process Elements
-------------------------------------------------- */

.process-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    height: 80%;
    margin: 1%;
    border-radius: 50%;
    border: 0.3cqh solid black;
}

.process-element.roll {
    animation: roll 1000ms infinite;
}


/* --------------------------------------------------
   Animations
-------------------------------------------------- */

@keyframes colorChange {
    0%,
    100% {
        background-color: #ffba49;
    }

    50% {
        background-color: #c96f00;
    }
}

#cpu.col-change {
    animation: colorChange 1s linear infinite;
}

@keyframes colorChange2 {
    0%,
    100% {
        background-color: #c04abc;
    }

    50% {
        background-color: darkmagenta;
    }
}

#status.col-change-2 {
    animation: colorChange2 1s ease-in-out;
}

@keyframes highlight {
    0%,
    100% {
        background-color: inherit;
    }

    50% {
        background-color: #3498db;
    }
}

.highlighted-row {
    animation: highlight 0.8s ease;
}

@keyframes roll {
    100% {
        rotate: 360deg;
    }
}